body{

    background-image: url("weng.gif");
    height: 1000hv;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}